body { font-family: Georgia, "Times New Roman", Times, serif;}

h1 { font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; }

.titulo{

    border: 3px solid black;
    border-bottom: none;

}
.fondo{
    background: skyblue;
    display: table;
    width: 100%;
    height: 700px;
}

.fondo div{
    display: table-cell;
}

.menu {
    margin: auto;
    list-style: none;
}

.menu li{
    list-style: none;
    background-color: black;
}

.menu li a{

    color: aliceblue;
    text-decoration: none;
    margin-left: 1080px;

}

.instrucciones{

    position: relative;
    padding: 20px;
    background-color: orange;
    width: 20%;
    vertical-align: top;
    height: 100%;
    border: 3px solid black;

}

.instrucciones ol li{

    padding: 1px 5px;

}

.datos{

    position: relative;
    padding: 30px;
    background-color: skyblue;
    vertical-align: top;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    width: 50%;
    height: 100%;
}

.datos button{

    align-items: end;
    margin-top: 10px;
}
.dibujo{

    position: relative;
    padding: 70px;
    background-color: skyblue;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    width: 70%;
    height: 100%;


}


#myCanvas {

    border: 3px solid black;
    background-color: aliceblue;
    position: sticky;
    align-self: end;
    padding: 30px;
    margin: 55px ;
    width:  500px;
    height: 500px;
}

.info{

    font-style: normal;
    margin: 100px;
}

.info img{
    display: block;
    margin: auto;
}

.info p{
    text-align: center;
}

